[submodule "themes/contrast-hugo"]
	path = themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
